.zero{background-color: rgb(238, 28, 37); border: 1px solid black;} 
.one{background-color: rgb(242, 103, 36);  border: 1px solid black;}
.two{background-color: rgb(248, 198, 17);  border: 1px solid black;}
.three{background-color: rgb(245, 236, 27);  border: 1px solid black;}
.four{background-color: rgb(181, 211, 51);  border: 1px solid black;}
.five{background-color: rgb(132, 195, 65);  border: 1px solid black;}
.six{background-color:rgb(77, 183, 72) ; border: 1px solid black; }
.seven{background-color:rgb(51, 169, 75) ;  border: 1px solid black;}
.eight{background-color:rgb(34, 180, 107) ;  border: 1px solid black;}
.nine{background-color:rgb(9, 184, 182) ;  border: 1px solid black;}
.ten{background-color:rgb(70, 144, 205) ;  border: 1px solid black;}
.eleven{background-color:rgb(55, 82, 164) ;  border: 1px solid black;}
.twelve{background-color: rgb(89, 82, 162);  border: 1px solid black;}

.thirteen{background-color: rgb(99, 69, 157);  border: 1px solid black;}
.fourteen{background-color: rgb(70, 44, 131); border: 1px solid rgb(0, 0, 0);}